$body-bg: #fff;
$body-color: #333;

$gutter: 0.75rem;

$incoming-chat-color: #333;
$incoming-chat-bg: hsl(0 0% 85%);
$incoming-chat-name-color: hsl(0 0% 40%);

$outgoing-chat-color: #fff;
$outgoing-chat-bg: hsl(0 0% 50%);

$response-bg: $outgoing-chat-bg;
$response-color: $outgoing-chat-color;

$button-border-radius: 0.375rem;

$confirm-button-color: #485bff;
$confirm-button-border-color: $confirm-button-color;

$correct-color: #30c28e;
$incorrect-color: #ffb7b7;

$action-bg: #06b782;
$action-accent: #ffd604;
