@import 'variables';

body {
  background: $body-bg;
  color: $body-color;
}

#root {
  background-color: #213345;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // temp: force mobile width
  max-width: 540px;
  margin: 0 auto;
}

.container {
  padding: 0 $gutter;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  background: $body-bg;
}

.strong {
  font-weight: 700;
}
