@import '../assets/css/variables';

.response {
  margin-top: auto;

  .confirmation {
    text-align: center;
    margin-bottom: $gutter;
  }

  .quiz,
  .options {
    margin-left: -$gutter;
    margin-right: -$gutter;
    padding: $gutter;
    background-color: $response-bg;
    color: $response-color;

    .text {
      padding-bottom: $gutter;
      text-align: center;
      font-size: 0.875rem;
      font-weight: 700;
    }

    .buttons {
      $gap: 0.25rem;

      padding: $gap;
      border-radius: $button-border-radius;
      background-color: $body-bg;

      &.images {
        display: grid;
        gap: $gap;
        grid-template-columns: repeat(2, 1fr);

        .image {
          max-width: 100%;
          min-width: 4rem;
          min-height: 4rem;
          border-radius: $button-border-radius;
        }
      }

      .button {
        display: block;
        width: 100%;
        margin-bottom: $gap;

        &:last-child {
          margin-bottom: 0;
        }

        &.correct {
          color: $correct-color;
        }

        &.incorrect {
          color: $incorrect-color;
        }
      }
    }
  }
}
