.image {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    $loader-size: 3rem;
    $loader-spinner-size: $loader-size * 0.75;
    $loader-spinner-margin: $loader-size * 0.125;
    $loader-spinner-border-size: $loader-size / 12;

    .loader,
    .loader::after {
      border-radius: 50%;
      width: $loader-size;
      height: $loader-size;
    }

    .loader {
      background-color: rgba(#fff, 0.8);
    }

    .loader::after {
      content: '';
      display: block;
      width: $loader-spinner-size;
      height: $loader-spinner-size;
      margin: $loader-spinner-margin;
      border: $loader-spinner-border-size solid rgba(#000, 0.2);
      border-left-color: #000;
      transform: translateZ(0);
      animation: spinner 1s infinite linear;
    }

    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
