@import '../assets/css/variables';

.introContainer {
  margin-left: -$gutter;
  margin-right: -$gutter;
  display: flex;
  flex-direction: column;
  background-color: #6d5821;
  height: 100vh;
  overflow: hidden;

  .introHeight {
    height: 0;
    position: relative;

    .intro {
      position: absolute;
      inset: 0;
      background-image: url('../assets/img/intro/intro-1.png');
      background-position: top center;
      background-size: 100%;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .charactersWrapper {
        position: relative;
        z-index: 1;
        height: 0;
        padding-top: 65%;

        .characters {
          position: absolute;
          inset: 0;
          margin: $gutter;
          margin-bottom: 0;
          display: grid;
          grid-template-columns: 1fr 1.5fr 1fr;

          .character {
            margin: 0 -1rem;
          }
        }
      }

      .buttons {
        position: relative;
        z-index: 2;
        margin: $gutter;
        background-color: $body-bg;
        border-radius: 2.5rem;
        font-family: 'Grandstander', cursive;
        text-align: center;
        overflow: hidden;

        .title {
          padding: 1rem $gutter 0.75rem;
          background-image: linear-gradient(88deg, #10284f 0%, #79bcf2 100%);
          color: #fff;
          font-weight: 700;
          font-size: 18px;
          text-shadow: -2px -2px 0 #25456f, 2px -2px 0 #25456f,
            -2px 2px 0 #25456f, 2px 2px 0 #25456f;
        }

        .character {
          margin-top: $gutter;
          padding: 0 1rem;
          display: flex;
          align-items: center;

          .selectedName {
            flex: 1;
            text-align: center;
            font-size: 1.75rem;
            font-weight: 700;
            line-height: 1;
            color: #000;

            .theme {
              font-size: 1rem;
              color: #4b4b4b;
            }
          }

          .arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            background-image: linear-gradient(to top, #a5d3f8 0%, #6bb0e7 100%);
            border: 0;
            border-radius: 50%;
            color: #10284f;
            box-shadow: 0 3px 0 0 #497191, 0 0 0 3px #e3f1ff;
            padding: 0.5rem;
            margin-top: -2.5rem;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }

        .selectButton {
          margin-top: $gutter;
          margin-bottom: 1rem;
          padding: 0.25rem 2rem 0;
          border: 0;
          background-image: linear-gradient(
              to bottom,
              #f8eba1 0%,
              #f5df5d 47%,
              #ecd238 99%,
              #ecd238 100%
            ),
            linear-gradient(to top, #fbefa0 0%, #f1cf13 100%);
          box-shadow: 0 4px 0 0 #bca419;
          color: #3c3407;
          font-size: 2rem;
          font-weight: 700;
          height: 2.75rem;
          line-height: 2.75rem;
        }
      }
    }
  }
}
