@import '../assets/css/variables';

.mapContainer {
  margin-left: -$gutter;
  margin-right: -$gutter;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 4rem;
  background-color: #496f2a;

  .mapHeight {
    height: 0;
    position: relative;

    .map {
      position: absolute;
      inset: 0;
      background-image: url('../assets/img/map/map-1.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      .icon {
        position: absolute;
        display: block;
        padding: 0;
        background: transparent;
        border: none;

        img {
          display: block;
          width: 100%;
          height: auto;
          mix-blend-mode: soft-light;

          &.selected {
            mix-blend-mode: normal;
          }
        }
      }
    }
  }
}

.selectedChatInfo {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  // margin-left: -$gutter;
  // margin-right: -$gutter;
  padding: $gutter;
  background-color: $chapter-info-bg;
  display: flex;
  // temp: force mobile width
  max-width: 540px;
  margin: 0 auto;

  .text {
    flex: 1;
    min-width: 0;

    .chapter,
    .name,
    .description {
      line-height: 1.2;
      min-height: 1.2em;
    }

    .chapter {
      font-size: 0.75rem;
      font-weight: 500;
      color: $chapter-info-chapter-color;
    }

    .name {
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.4;
    }

    .description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .button {
    flex: 0 0 6rem;
    font-size: 1rem;
  }

  .buttonLocked {
    filter: grayscale(100%);
    cursor: not-allowed;
  }
}
